{% extends 'base.html' %}
{% block body %}

<div class="container calsty" style="margin-top: 100px;">
  <div class="row">
    <div class="col-12 mb-3 bg-light">
      <h3 class="mb-2 mt-4 text-center fw-bold fst-italic ">CALCULATOR</h3>
      <hr style="border-color:aliceblue">
    </div>
  </div>
</div>
<section id="second">
  <form action="calculation" method="post">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-sm-2 left">
        </div>
        <div class="col-sm-8 middle" style="background-color: aliceblue;">
          <div class="result">
            <span id="ques">{{values}}</span>
            <input type="text" name="values" id="result" placeholder="" value={{result}}>
          </div>
          <div class="keypad">
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn spc_btn" id="left_small"
                  onclick="insertTextInInputValue('(');">(</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn  spc_btn" onclick="insertTextInInputValue(')');">)</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn  spc_btn" onclick="insertTextInInputValue('%');">%</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn  spc_btn" onclick="insertTextInInputValue('AC');">AC</button>
              </div>
              <div class="col-sm-1">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn num_btn" onclick="insertTextInInputValue(7);">7</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn num_btn" onclick="insertTextInInputValue(8);">8</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn num_btn" onclick="insertTextInInputValue(9);">9</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-block spc_btn"
                  onclick="insertTextInInputValue('/');">&#247;</button>
              </div>
              <div class="col-sm-1">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn num_btn" onclick="insertTextInInputValue(4);">4</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn num_btn" onclick="insertTextInInputValue(5);">5</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-block num_btn" onclick="insertTextInInputValue(6);">6</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-block spc_btn"
                  onclick="insertTextInInputValue('*');">&#215;</button>
              </div>
              <div class="col-sm-1">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-block num_btn" onclick="insertTextInInputValue(1);">1</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-block num_btn" onclick="insertTextInInputValue(2);">2</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-block num_btn" onclick="insertTextInInputValue(3);">3</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-block spc_btn" onclick="insertTextInInputValue('-');">-</button>
              </div>
              <div class="col-sm-1">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-block num_btn" onclick="insertTextInInputValue(0);">0</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-block spc_btn" onclick="insertTextInInputValue('.');">.</button>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-block btn-primary equal_btn">=</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-block spc_btn" onclick="insertTextInInputValue('+');">+</button>
              </div>
              <div class="col-sm-1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<script type="text/javascript">
  function insertTextInInputValue(buttonValueIs) {
    if (buttonValueIs == "AC") {
      document.getElementById("result").value = ""
      document.getElementById("ques").innerText = "Ans:0"
    }
    else {
      var inputElementIs = document.getElementById("result");
      inputElementIs.value = inputElementIs.value + buttonValueIs;
    }
  }
</script>
</div>

{% endblock body %}