{% extends 'base.html' %}
{% block login %}active{% endblock login %}
{% block body %}

<div class="container mt-5 pt-5">
    <h3 class="text-success text-center fw-bold fst-italic">Login to study portal</h3>
    {% include 'message.html' %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label mt-3">Name</label>
            <input type="text" class="form-control" id="name" name="usernamelogin">
        </div>
        <label for="inputPassword" class="form-label mt-2">Password</label>
        <input type="password" id="inputPassword" name="passwordlogin" class="form-control"
            aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
        </div>
        <button type="submit" class="btn btn-outline-info mt-3">Login</button>
    </form>
</div>

{% endblock body %}