{% extends 'base.html' %}
{% block body %}

<div class="container" style="margin-top: 77px;">
  <div class="row">
    <div class="col-12 mb-3">
      <h3 class="mb-2 mt-4 text-center fw-bold fst-italic ">NOTES LISTS</h3>
      <hr style="border-color:aliceblue">
    </div>
    {% include "message.html" %}
    {% for note in notes %}
    <div class="col-md-3 mt-4 mb-3">
      <a href="/notesdetail/{{note.title}}" class="text-decoration-none">
        <div class="card">
          <div class="card-header h5 text-dark text-center">{{note.title}}</div>
          <div class="card-body text-dark">{{note.description | slice:75}}</div>
          <div class="card-footer mt-auto "><a href="/notesdelete/{{note.id}}">
              <i class="fa fa-trash fa-2x" style='color:rgb(239, 62, 62)'></i></a>
          </div>
        </div>
      </a>
    </div>
    <br><br>
    {% endfor %}
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-12 mb-3 mt-3">
      <h3 class="mb-2 mt-3 text-center fw-bold fst-italic ">CREATE NOTES</h3>
      <hr style="border-color:aliceblue">
    </div>
  </div>
  <form action="/notes" method="post">
    {% csrf_token %}
    <div class="mb-4">
      <label for="exampleFormControlInput1" class="form-label h5">Title</label>
      <input class="form-control form-control-lg " type="text" placeholder="Notes Title" name="title"
        aria-label=".form-control-lg example">
    </div>
    <div class="mb-4">
      <label for="exampleFormControlTextarea1" class="form-label h5">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-secondary btn-lg">create</button>
  </form>
</div>

{% endblock body %}